{% extends 'base.html.twig' %}

{% block title %}Admin | Dashboard
{% endblock %}

{% block imgheader %}url('')
{% endblock %}

{% block headerTitle %}
	<h1>{{ ea.dashboardTitle }}</h1>
{% endblock %}

{% block content %}
	{% for menuItem in ea.mainMenu.items %}
		<div>{{menuItem.icon}}
			|
			{{menuItem.label}}</div>

	{% endfor %}
{% endblock %}
