{% extends 'users.html.twig' %}

{% block title %}
  Modify my Account | Blog
{% endblock %}

{% block content %}
  <div class="w-75 m-auto">
    <div class="row">
      <fieldset class="col p-2">
        <legend>
          Edit the profile of
        </legend>
        <p class="fs-3 fw-bold">
          {{ app.user.username }}
        </p>
        <small class="fs-6 text-danger border border-danger p-2">
          After created your account, you can't change your email.
        </small>
      </fieldset>
      <fieldset class="col bg-primary text-light p-2 rounded-3">
        {{ form(form) }}
      </fieldset>
    </div>
  </div>
{% endblock %}
